@use '../../_css/queries.scss' as *;


#homefooter {
  background-color: #B8B8B8;
  color: black;
}

:global([data-theme="dark"]) {
  .footer {
    background-color: var(--theme-elevation-50);
    color: var(--theme-elevation-1000);
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
  width: 100%;
  padding-top: 5%;

  > * {
    text-decoration: none;
  }
}
