@import "../../../_css/common";

.container {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.card {
  overflow: hidden; 
  margin-top: 2rem;
  margin-bottom: 2rem; 
  padding: 1.25rem;
  background-color: var(--color-base-300);
  width: 60%;

  @include mid-break {
    width: 80%;
  }

  @include small-break {
    width: 95%;
  }
}

.inner {
  width: 100%;
  padding: 4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.inner h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;

  @include mid-break {
    font-size: 2.25rem;
  }
}

.inner h2 {
  margin: 1rem 0;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-base-500);;

  @include mid-break {
    font-size: 0.75rem;
  }
}


.textfield {
  margin: 3rem 0;

}

.textfield label{
  display: block; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  text-align: start;
}

.textfield input {
  margin-top: 0.25rem; 
  border-radius: 0.4rem; 
  width: 30rem; 
  font-size: 0.75rem;
  line-height: 1.5rem; 
  padding: 0.25rem;
  border: 1px solid;
  border-color: -var(--color-base-300);

  @include mid-break {
    width: 25rem;
  }

  @include small-break {
    width: 20rem;
  }
}

.submitfield {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.submitfield button {
  height: 2.5rem;
  padding: 1rem 2rem;
  border: hidden;
  border-radius: 0.5rem; 
  background-color: var(--color-base-400);
  color: white;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

.submitfield p {
  margin: 0;
  font-size: 0.75rem;
}

.submitfield span {
  font-weight: 600;
  color: red;
}