.container {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.card {
  overflow: hidden; 
  margin-top: 2rem;
  margin-bottom: 2rem; 
  padding: 1.25rem;
  background-color: var(--color-base-300);
  width: 60%;

  @include mid-break {
    width: 80%;
  }

  @include small-break {
    width: 95%;
  }
}

.inner {
  width: 100%;
  padding: 8rem 6rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.inner h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 2rem;

  @include mid-break {
    font-size: 1.75rem;
  }
  @include small-break {
    font-size: 1.3rem;
  }
}

.inner h2 {
  margin: 1rem 0;
  line-height: 1rem;
  font-size: 1rem;

  @include mid-break {
    font-size: 0.75rem;
  }
}

.content {
  margin-top: 4rem;
}

.content p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.content .subtext {
  color: var(--color-base-500);
  margin-top: 0.5rem;
}

.content .subtext span {
  font-weight: 600;
  color: red;
}