@import "../../../_css/common";

.container {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem; 
  width: 60%;
  display: flex;

  @include mid-break {
    width: 80%;
  }

  @include small-break {
    width: 95%;
  }
}

.right {
  width: 40%;
  padding: 2rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;

  @include mid-break {
    font-size: 2.25rem;
  }

  @include small-break {
    font-size: 1.75rem;
  }
}

.right h2 {
  margin: 0;
  padding: 1rem 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 200;
  text-align: center;
  font-style: italic;

  @include mid-break {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }

  @include small-break {
    font-size: 0.6rem;
    padding: 0.25rem 0;
  }
}

.right .logo {
  height: 10rem;
  width: 10rem;
  background-color: white;
}

.inner {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.inner .header {
  margin-bottom: 0.75rem;
}

.inner h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;

  @include mid-break {
    font-size: 2.25rem;
  }
}

.inner h2 {
  margin: 0;
  padding-top: 0.3rem;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic; 
  color: var(--color-base-500);;

  @include mid-break {
    font-size: 0.75rem;
  }
}

.form label{
  display: block; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
}

.textfield {
  margin: 1rem 0;
}

.textfield input {
  margin-top: 0.25rem; 
  border-radius: 0.4rem; 
  width: 100%; 
  font-size: 0.75rem;
  line-height: 1.5rem; 
  padding: 0.25rem;
  border: 1px solid;
  border-color: -var(--color-base-300);
}

.textfield p {
  font-size: 0.5rem;
  color: red;
  margin: 0;
}

.submitfield {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.submitfield button {
  height: 2.5rem;
  padding: 1rem 2rem;
  border: hidden;
  border-radius: 0.5rem; 
  background-color: var(--color-base-400);
  color: white;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

.submitfield p {
  margin: 0;
  font-size: 0.75rem;
}

.submitfield span {
  font-weight: 600;
  color: red;
}